
.flexbox{
    display: flex; /* กล่องไข่ */
    box-sizing: border-box ; /*  สำคัญ */
    flex-direction: row; /*  แกนหลักเป็นเเนวนอนหรือเเนวตั้ง */
    flex-wrap:wrap; /*  อานุญาต ให้item ส่วนเกิน ลงไปอยู่เเถวต่อไปได้หรือเปล่า */
    justify-content: center;/*  จัดเรียง item ตามแกนหลัก */
    align-items: flex-start;
}

.item{
    display: block;
    box-sizing: border-box;
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}



.content{
    background-color: rgb(240,209,73);
    border: 2px solid black;
    padding: 16px;
}